:root {
    // --darkBlue: #041939;
    --dark-blue: #041837;
    --dark-blue-alpha: rgba(4, 24, 55, 0.93);
    --white: #fff;
    --yellow: #fafa14;
    --light-blue: #9ACDFC;
    --light-blue-shadow-alpha: rgba(154, 205, 252, 0.659);
    --light-gray: #F8F8F8;
    --light-blue_2: #A7D5FF;
    --light-blue_2-shadow-alpha: rgba(167, 213, 255, 0.659);
    --dark-sky: #02C7F4;
    --dark-sky-shadow-alpha: rgba(2, 199, 244, 0.659);
    --orange: #ffb300;
    --orange-shadow-alpha: rgba(255, 179, 0, 0.659);
    // --yellow-orange: #ffa346;
    --yellow-orange: #ffba24;
}